faulty-crane-default-config.json
faulty-crane.json
faulty-crane-default-plan.plan
tmp/**/*
cover.*
*.plan
*.out
plan.json
dist/*
# https://github.com/nektos/act default secrets file location
.secrets
node_modules
# generated on the fly
values.yaml
# any leftover executable
test/faulty-crane
